@import url(webfonts/stylesheet.css);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 10px 'Noto Sans Thai UI', 'Noto Sans', sans-serif;
  color: black;
  overflow-x: hidden;
  background-color: white;
}
header .fab {
  font-size: 1.6em;
}

a:link, a:visited, a:hover, a:active {
  color: black;
}

h2 {
  font-family: 'The Matter', serif;
  font-weight: 600;
  font-size: 2em;
}