/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 14px 'Athiti', sans-serif;
  color: black;
  overflow-x: hidden;
  padding-bottom: 50px;
  background-color: gainsboro;
}

a:link, a:visited, a:hover, a:active {
  color: dimgray;
} */